* {
    margin: 0;
    padding: 0;
    background: #FFF;
}

.header-section {
    height: 100vh;
    width: auto;
}

.nav-container {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    list-style: none;

}

.nav-title {
    margin-top: px;
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;

}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 440px;
    height: 414px;
    justify-content: center;
    align-items: center;
}

.back {
    position: absolute;
  
}

.front {
    position: relative;
   
}
.header-footer-images{
    display: flex;
    justify-content:center;
    align-items: center;
   gap:40px;
}
.main-content{
    width: 1440px;
    margin-left: 0px auto;
    display: grid;
    align-items: center;
   justify-content:center;
   grid-template-columns: repeat(3,1fr);
}
.main-button{
    display: flex;
    justify-content:flex-end;
}